.genericRelativer{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    .buttonImg{
        position: absolute;
    top: 20px;
    left: 20px;
    &:hover path{
        fill: black;
    }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        transition: all 0.3s;
        text-decoration: none;
        &:active{
            opacity: 0.6;
        }
    }
}