@import "../../assets/scss/variables.scss";
.component_name {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: $blue;
    padding-bottom: 30px;
}
.borderBottom {
    margin-bottom: 50px;
    border-bottom: 4px solid $blue;
    opacity: 0.5;
    width: 100%;
}
