@import "../../assets/scss/variables.scss";
.ant-dropdown {
  z-index: 10000;
}
header {
  width: 100%;
  background-color: #000000;
  padding: 0 calc((100% - 1110px) / 2);
  position: fixed;
  z-index: 9999;
  // margin-bottom: 90px;

  .header_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .left_header {
      width: 139px;
      height: 90px;
      .image {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .right_header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      .navbar_toggle {
        width: 26px;
        height: 26px;
        display: none;
        position: absolute;
        transform: translate(-50%, 0);
        left: 18px;
        margin-left: 18px;
        cursor: pointer;
        .image {
          width: 100%;
          height: 100%;
        }
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 45px;
          .closing_icon {
            width: 26px;
            height: 26px;
            background-color: #ffffff;
            display: none;
          }
          > h1 {
            display: none;
          }
          .mobile_content {
            display: none;
          }
          li {
            &:last-child {
              margin-right: 0;
            }
            a {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #ffffff;
              text-decoration: none;
              position: relative;
              transition: 0.3s linear all;
              &::before {
                display: none;
                content: "";
                position: absolute;
                top: calc(100% + 4px);
                width: calc(100% + 10px);
                left: -3px;
                bottom: 4px;
                height: 5px;
                border-radius: 5px;
                background: linear-gradient(
                  270.11deg,
                  #4542ff 30.39%,
                  #ffffff 81.42%
                );
                transition: 0.3s linear all;
              }
              &:hover {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 100%;
                color: #ffffff;
                &::before {
                  display: block;
                }
              }
            }
          }
        }
      }
      .lang_dropdown {
        z-index: 10000;
        .ant-dropdown-trigger {
          .ant-space {
            .ant-space-item {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 100%;
              color: #ffffff;
            }
          }
        }
        // .ant-dropdown-open {
        //   padding: 5px 0;
        //   background: #ffffff;
        //   border-radius: 5px 5px 0 0;
        //   .ant-space {
        //     padding-bottom: 4px;
        //     border-bottom: 0.5 solid #000000;
        //     .ant-space-item {
        //       font-family: "Montserrat", sans-serif;
        //       font-style: normal;
        //       font-weight: 400;
        //       font-size: 18px;
        //       line-height: 100%;
        //       color: #000000;
        //     }
        //   }
        // }
      }
      .contact_btn {
        width: 146px;
        height: 48px;
        z-index: 4;
        button {
          width: 100%;
          height: 100%;
          background: inherit;
          border: 2px solid #ffffff;
          border-radius: 5px;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          color: #ffffff;
          cursor: pointer;
          transition: 0.3s linear all;
          &:hover {
            border: 2px solid;
            border-image: linear-gradient(to right, #4542ff, #ffffff) 1;
            background: -webkit-linear-gradient(#ffffff, #4542ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}
@media (max-width: 1460px) {
  header {
    padding: 0 165px;
  }
}
@media (max-width: 1280px) {
  header {
    padding: 0 100px;
  }
}
@media (max-width: 1150px) {
  header {
    .header_wrapper {
      .right_header {
        nav {
          ul {
            gap: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  header {
    padding: 0 25px;
  }
}
@media (max-width: 961px) {
  header {
    .header_wrapper {
      .right_header {
        gap: 25px;
        nav {
          ul {
            gap: 20px;
          }
        }
        .contact_btn {
          width: 100px;
        }
      }
    }
  }
}
@media (max-width: 832px) {
  header {
    padding: 0 10px;
    .header_wrapper {
      .left_header {
        width: 100px;
      }
      .right_header {
        gap: 15px;
        nav {
          ul {
            gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  header {
    // position: relative;
    .header_wrapper {
      .left_header {
        background: none;
        .image {
          background: none;
          position: absolute;
          transform: translate(-50%, 0);
          left: 50%;
        }
      }
      .right_header {
        gap: 25px;
        nav {
          transition: 0.4s linear all;
          overflow: none;
          position: fixed;
          z-index: 4;
          left: -1000px;
          top: 90px;
          // background: rgba(0, 0, 0, 0.7);
          height: 100vh;
          width: 100vw;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          width: 100vw;
          z-index: 999;
          ul {
            padding: 10px 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 340px;
            gap: 16px;
            background: #000000;
            height: 100%;
            overflow: auto;
            border-bottom-right-radius: 20px;
            &::-webkit-scrollbar {
              width: 6px;
            }
            &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
              background: linear-gradient(
                to bottom,
                #4542ff 50.39%,
                #ffffff 81.42%
              );
              outline: 1px solid #4542ff;
              border-radius: 5px;
            }
            .closing_icon {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 300px;
              top: 5px;
            }
            li {
              list-style-type: none;
              padding-bottom: 4px;
              border-bottom: 0.5px solid #ffffff;
              width: 60%;
              a {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color: #ffffff;
                transition: 0.3s linear all;
                &:hover {
                  color: #4542ff;
                  font-weight: bold;
                  &::before {
                    display: none;
                  }
                }
              }
            }
            .mobile_content {
              display: flex;
              flex-direction: column;
              gap: 10px;
              a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                .for_image {
                  width: 26px;
                  height: 26px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                h2 {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 10px;
                  font-family: "Montserrat", sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 100%;
                  color: #ffffff;
                }
                .for_map {
                  width: 77px;
                  height: 38px;
                  background: #ffffff;
                  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  button {
                    border: 0.5px solid #000000;
                    border-radius: 8px;
                    width: 73px;
                    height: 34px;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    color: #000000;
                  }
                }
              }
            }
          }
        }
        .navbar_toggle {
          display: block;
        }
        .activeMenu {
          left: 0;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  header {
    padding: 0px 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 44px;
    .header_wrapper {
      height: 100%;
      .left_header {
        height: 100%;
        width: 85px;

        .image {
          height: auto;
          svg {
            width: 36px;
            height: 28px;
          }
        }
      }
      .right_header {
        gap: 15px;
        nav {
          top: 44px;
          ul {
            width: 192px;
            li {
              a {
                font-size: 10px;
              }
            }
            .closing_icon {
              left: 160px;
            }
            .mobile_content {
              a {
                .for_image {
                  width: 20px;
                  height: 20px;
                }
                h2 {
                  font-size: 16px;
                  gap: 4px;
                }
                .for_map {
                  width: 60px;
                  button {
                    width: 57px;
                  }
                }
              }
            }
          }
        }
        .contact_btn {
          height: 40px;
          display: none;
        }
        .navbar_toggle {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .lang_dropdown {
          z-index: 4;
          .ant-dropdown-trigger {
            .ant-space {
              .ant-space-item {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  header {
    .header_wrapper {
      .left_header {
        width: 55px;
        a {
          svg {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}
@media (max-width: 305px) {
  header {
    .header_wrapper {
      gap: 15px;
      .left_header {
        width: 50px;
        // height: 47px;
      }
    }
  }
}
