footer {
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;
  .footer_top {
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px calc((100% - 1110px) / 2);
    border-bottom: 2px solid #d9d9d9;
    .left_footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      .for_logo {
        width: 77px;
        height: 67px;
        .image {
          width: 100%;
          height: 67px;
          background-color: #ffffff;
          border-radius: 73px;
        }
      }
      .for_company {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        color: #ffffff;
        text-decoration: none;
        span {
          background: linear-gradient(180deg, #2b13bb 45.83%, #ffffff 83.85%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
    .right_footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 41px;
      nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 35px;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: #ffffff;
              text-decoration: none;
              position: relative;
              transition: 0.3s ease all;
              &::before {
                display: none;
                content: "";
                position: absolute;
                top: calc(100% + 4px);
                width: calc(100% + 10px);
                left: -3px;
                bottom: 4px;
                height: 5px;
                border-radius: 5px;
                background: linear-gradient(
                  270.11deg,
                  #4542ff 30.39%,
                  #ffffff 81.42%
                );
                transition: 0.3s ease all;
              }
              &:hover {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 100%;
                color: #ffffff;
                &::before {
                  display: block;
                }
              }
            }
          }
        }
      }
      .for_social_media {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 25px;
        .image {
          width: 25px;
          height: 25px;
          background-color: #ffffff;
          border-radius: 50%;
        }
      }
    }
  }
  .footer_bottom {
    width: 100%;
    padding: 30px calc((100% - 1110px) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: 38px;
      border-right: 2px solid #d9d9d9;
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
      a {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        .for_image {
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        pre {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #ffffff;
        }
        .for_map {
          margin-left: 15px;
          width: 77px;
          height: 38px;
          background: #ffffff;
          box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 73px;
            height: 34px;
            border: 0.5px solid #000000;
            border-radius: 8px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            color: #000000;
          }
        }
      }
    }
  }
}
@media (max-width: 1460px) {
  footer {
    .footer_top {
      padding: 30px 165px;
    }
    .footer_bottom {
      padding: 30px 165px;
    }
  }
}
@media (max-width: 1400px) {
  footer {
    .footer_top {
      .right_footer {
        nav {
          ul {
            gap: 15px;
          }
        }
        .for_social_media {
          gap: 10px;
        }
      }
    }
    .footer_bottom {
      gap: 5px;
      > div {
        padding-right: 15px;
        pre {
          font-size: 17px;
        }
        .for_map {
          margin-left: 7px;
          width: 60px;
          button {
            width: 56px;
          }
        }
      }
    }
  }
}
@media (max-width: 1335px) {
  footer {
    .footer_bottom {
      > div {
        padding-right: 7px;
        a {
          .for_map {
            margin-left: 8px;
          }
          pre {
            font-size: 19px;
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  footer {
    .footer_top {
      padding: 30px 100px;
    }
    .footer_bottom {
      padding: 30px 100px;
    }
  }
}
@media (max-width: 1210px) {
  footer {
    .footer_bottom {
      > div {
        a {
          .for_map {
            width: 60px;
            margin-left: 8px;
            button {
              width: 56px;
            }
          }
          pre {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  footer {
    .footer_top {
      .left_footer {
        .for_company {
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  footer {
    .footer_top {
      padding: 20px 25px;
    }
    .footer_bottom {
      padding: 20px 25px;
    }
  }
}
@media (max-width: 950px) {
  footer {
    .footer_top {
      .right_footer {
        nav {
          display: none;
        }
        .for_social_media {
          gap: 20px;
        }
      }
    }
    .footer_bottom {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      > div {
        padding-right: 0;
        border-right: 0;
        &:first-child {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}
@media (max-width: 832px) {
  footer {
    .footer_top {
      padding: 20px 10px;
    }
    .footer_bottom {
      padding: 20px 10px;
    }
  }
}
@media (max-width: 700px) {
  footer {
    .footer_bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 7px;
    }
  }
}
@media (max-width: 530px) {
  footer {
    .footer_top {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;
      border: none;
      .left_footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
        padding: 21px 0 30px 0;
        border-bottom: 1px solid #d9d9d9;
        .for_logo {
          width: 47px;
          height: 37px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .for_company {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
        }
      }
      .right_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0;
        nav {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 21px 0;
          border-bottom: 1px solid #d9d9d9;
          ul {
            display: flex;
            gap: 16px;
            li {
              padding-right: 16px;
              border-right: 1px solid rgba(217, 217, 217, 0.5);
              &:last-child {
                padding-right: 0;
                border-right: none;
              }
              a {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 100%;
                color: #ffffff;
                &::before {
                  height: 3px;
                }
                &:hover {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .for_social_media {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row-reverse;
          padding: 20px 0;
          gap: 60px;
          border-bottom: 1px solid #d9d9d9;
          a {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .footer_bottom {
      padding: 30px 15px;
      gap: 12px;
      > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
        a {
          .for_image {
            width: 9px;
            height: 9px;
            svg {
              width: 9px;
              height: 9px;
            }
          }
          pre {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 100%;
            color: #ffffff;
          }
        }
        &:last-child {
          padding: 6px 6px 6px 11px;
          background: #ffffff;
          border-radius: 5px;
          position: absolute;
          right: 15px;
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            .for_image {
              width: 9px;
              height: 11px;
              svg {
                width: 9px;
                height: 11px;
                color: #000000;
                fill: #000000;
                stroke: #000000;
              }
            }
            pre {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 8px;
              line-height: 100%;
              color: #000000;
            }
            .for_map {
              background: #ffffff;
              border: 0.5px solid #000000;
              box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
              border-radius: 5px;
              width: 50px;
              height: 20px;
              button {
                width: 100%;
                height: 100%;
                border: none;
                background: inherit;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 8px;
                line-height: 100%;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 374px) {
  footer {
    .footer_top {
      .right_footer {
        nav {
          ul {
            gap: 8px;
            li {
              padding-right: 8px;
            }
          }
        }
        .for_social_media {
          gap: 40px;
        }
      }
    }
    .footer_bottom {
      > div {
        &:last-child {
          position: inherit;
        }
      }
    }
  }
}
