.ant-tabs-nav-list{

    .ant-tabs-tab-btn{
        color: rgb(143, 141, 141);
        font-size: 20px;
        font-weight: 400;

    
    }
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#2B13BB !important;
}